@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* table styles */
    .t-header {
        @apply px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase
    }

    .t-cell {
        @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800
    }

    /* sidebar styles */
    .menu-item {
        @apply flex items-center gap-4 p-3 text-gray-700 rounded-lg hover:bg-gray-100 transition-all
    }

    .menu-icon {
        @apply w-5 h-5 text-gray-500
    }

    input {
        @apply py-1.5 sm:py-2 px-3 ps-9 block w-full border-gray-200 border rounded-lg sm:text-sm focus:z-10 disabled:opacity-50 disabled:pointer-events-none
    }
}

/* Estilo para controlar os submenus quando a sidebar está colapsada */
.sidebar.collapsed .submenu {
    display: none !important;
    /* Força a ocultação quando a sidebar está colapsada */
}

/* Estilo para o menu de perfil flutuante */
.sidebar.collapsed+.flex-1 .submenu-dropdown {
    position: absolute;
    left: 4rem;
    /* Posiciona o dropdown à direita da sidebar colapsada */
    top: 0;
    min-width: 200px;
    z-index: 50;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #f1f1f1;
}